:root {
  --color-white: #ffffff;
  --color-dark: rgb(36, 36, 36);
  --color-dark-opacity-70: rgba(36, 36, 36, 0.7);
  --color-dark-opacity-50: rgba(36, 36, 36, 0.5);
  --color-dark-opacity-30: rgba(36, 36, 36, 0.3);
  --color-dark-opacity-20: rgba(36, 36, 36, 0.2);
  --color-dark-opacity-10: rgba(36, 36, 36, 0.1);

  --color-error: #FF3838;
  --color-success: rgb(96, 196, 159);
  --color-success-opacity-50: rgba(96, 196, 159, 0.5);
  --color-success-opacity-25: rgba(96, 196, 159, 0.25);
  --color-success-opacity-10: rgba(96, 196, 159, 0.1);

  --color-bg-card: #F6F6F6;
  --color-bg-disabled: #CACACA;
  --color-bg-main: #EDF2F0;
  --color-border: #E0E0E0;
  --color-label: #7A7A7A;

  --border-radius: 4px;
  --transition: 0.3s ease;

  --font-family: "Work Sans", sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: 400;
  font-optical-sizing: auto;
  font-size: 15px;
  color: var(--color-dark);
  background-color: var(--color-bg-main);
}

h1 {
  margin-bottom: 8px;
  font-size: 2.252em;
  font-weight: 600;
}

h2 {
  margin-bottom: 8px;
  font-size: 2em;
  font-weight: 600;
}

h3 {
  margin-bottom: 8px;
  font-size: 1.8em;
  font-weight: 600;
}

h4 {
  margin-bottom: 8px;
  font-size: 1.7em;
  font-weight: 600;
}

h5 {
  margin-bottom: 8px;
  font-size: 1.4em;
  font-weight: 600;
}

h6 {
  margin-bottom: 8px;
  font-size: 1.2em;
  font-weight: 600;
}

p {
  margin-bottom: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

fieldset {
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  width: 100%;
  min-height: 686px;
  margin: auto;
  padding: 30px;
  background-color: var(--color-white);
  border-radius: 15px;
}

/* If an element hidden with this class the element is still accessible by screen readers */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.button {
  padding: 18px 40px;
  font-size: 1.2em;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-dark);
  transition: var(--transition) opacity, var(--transition) box-shadow, var(--transition) background-color;
}

.button[disabled] {
  background-color: var(--color-bg-disabled);
}

.button:not([disabled]) {
  cursor: pointer;
}

.button:not([disabled]):hover {
  background-color: var(--color-dark-opacity-70);
}

.button:not([disabled]):active {
  opacity: 0.7;
}

.button:not([disabled]):focus {
  box-shadow: 0 0 3px 1px var(--color-dark-opacity-30);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  /* Place for an error */
  margin-bottom: 16px;
}

.form-field__label {
  position: absolute;
  top: 8px;
  left: 17px;
  font-size: 0.66em;
  color: var(--color-label);
}

.form-field__input {
  padding: 24px 16px 13px;
  font-size: 1.06em;
  font-family: var(--font-family);
  color: var(--color-dark);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  transition: var(--transition) border-color;
  outline: none;
}

/* Hides default increment and decrement buttons in Chrome, Safari, Edge */
.form-field__input[type='number']::-webkit-outer-spin-button,
.form-field__input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hides default increment and decrement buttons in Firefox */
.form-field__input[type='number'] {
  -moz-appearance: textfield;
}

.form-field__input--error {
  border-color: var(--color-error);
}

.form-field__input:not([disabled]):hover {
  border-color: var(--color-dark-opacity-50);
}

.form-field__input:not([disabled]):active {
  border-color: var(--color-dark-opacity-70);
}

.form-field__input:not([disabled]):focus {
  border-color: var(--color-dark);
}

.form-field__input[disabled] {
  background-color: var(--color-bg-disabled);
  opacity: 0.7;
}

.form-field__input::placeholder {
  font-size: 1.06em;
  font-family: var(--font-family);
  color: var(--color-dark-opacity-70);
}

.form-field__error {
  position: absolute;
  top: calc(100% + 4px);
  left: 17px;
  display: none;
  font-size: 0.66em;
  color: var(--color-error);
}

.form-field__input--error + .form-field__error {
  display: block;
}

.form-field__input[readonly] {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  background-color: transparent;
  border: none;
  cursor: default;
}

.form-field--readonly .form-field__label {
  left: 0;
}

.radio-option__wrapper {
  display: flex;
  align-items: center;
  column-gap: 14px;
  padding: 18px 16px;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  transition: var(--transition) border-color, var(--transition) background-color;
  outline: none;
}

.radio-option__custom {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  border-radius: 50%;
  transition: var(--transition) border-color, var(--transition) box-shadow;
}

.radio-option__input[disabled] + .radio-option__wrapper {
  background-color: var(--color-bg-disabled);
  border-color: var(--color-bg-disabled);
  opacity: 0.7;
}

.radio-option__input:not([disabled]) + .radio-option__wrapper {
  cursor: pointer;
}

.radio-option__input:not([disabled]) + .radio-option__wrapper:hover {
  border-color: var(--color-success);
}

.radio-option__input:not([disabled]) + .radio-option__wrapper:hover .radio-option__custom {
  border-color: var(--color-success);
}

.radio-option__input:not([disabled]):focus + .radio-option__wrapper {
  border-color: var(--color-success);
  background-color: var(--color-success-opacity-25);
}

.radio-option__input:not([disabled]):active + .radio-option__wrapper {
  background-color: var(--color-success-opacity-10);
}

.radio-option__input:checked + .radio-option__wrapper {
  border-color: var(--color-success);
  background-color: var(--color-success-opacity-10);
}

.radio-option__input:checked + .radio-option__wrapper .radio-option__custom {
  border-color: var(--color-success);
  box-shadow: inset 0 0 0 4px var(--color-success), 0 0 8px 0 var(--color-success-opacity-50);
}

.select {
  position: relative;
}

.select__control {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 24px 16px 13px 16px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition) border-color, var(--transition) background-color;
}

.select__control:hover {
  background-color: var(--color-bg-card);
}

.select__control:active {
  border-color: var(--color-dark-opacity-30);
}

.select__control:focus {
  border-color: var(--color-dark-opacity-50);
}

.select__control-item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  min-width: 48px;
  font-size: 1.06em;
}

.select__control-item-flag-icon {
  max-width: 16px;
}

.select__control-arrow-icon {
  max-width: 6px;
  transition: var(--transition) transform;
}

.select__control--active .select__control-arrow-icon {
  transform: rotate(180deg);
}

.select__options {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  opacity: 0;
  visibility: hidden;
}

.select__options--active {
  opacity: 1;
  visibility: visible;
}

.select__options-item-wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 16px;
  font-size: 1.06em;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: var(--transition) background-color, var(--transition) border-color;
}

.select__options-item:first-child .select__options-item-wrapper {
  border-top: none;
}

.select__options-item:last-child .select__options-item-wrapper {
  border-bottom: none;
}

.select__options-item-wrapper:hover {
  border-color: var(--color-dark-opacity-30);
}

.select__options-item-checked-icon {
  margin-right: 8px;
  max-width: 17px;
  opacity: 0;
}

.select__options-item-flag-icon {
  max-width: 16px;
}

.select__options-item-input:checked + .select__options-item-wrapper .select__options-item-checked-icon {
  opacity: 1;
}

.select__options-item-input:active + .select__options-item-wrapper {
  border-color: var(--color-dark-opacity-70);
}

.select__options-item-input:focus + .select__options-item-wrapper {
  background-color: var(--color-dark-opacity-10);
}

.basic-details {
  display: none;
}

.basic-details--active {
  display: flex;
}

.basic-details__form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.basic-details__form-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  margin-bottom: 59px;
}

.basic-details__form-field {
  /* Deducts half of the parent column gap */
  width: calc(50% - 8px);
}

.basic-details__form-phone-number {
  position: relative;
  margin-top: 6px;
  flex: 1;
}

.basic-details__form-phone-number .form-field__label {
  z-index: 1;
}

.basic-details__form-phone-number .form-field__input {
  width: 100%;
  padding-left: 112px;
}

.basic-details__form-phone-number .select {
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
  width: 100%;
  pointer-events: none;
}

.basic-details__form-phone-number .select__control {
  min-height: 56px;
  pointer-events: auto;
}

.basic-details__form-phone-number .select__options {
  width: 100%;
  pointer-events: auto;
}

.basic-details__form-role {
  margin-bottom: 30px;
}

.basic-details__form-role-radio-options-wrapper {
  display: flex;
  gap: 15px;
}

.basic-details__form-role-radio-options-wrapper .radio-option {
  width: 50%;
}

.basic-details__form-submit-btn,
.thank-you__button {
  width: 100%;
  margin-top: auto;
}

.thank-you {
  display: none;
}

.thank-you--active {
  display: flex;
}

.thank-you__checkmark {
  max-width: 30px;
  margin-bottom: 30px;
}

.thank-you__form-result {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 5px;
  padding: 36px 42px;
  background-color: var(--color-bg-card);
  border-radius: var(--border-radius);
}

.thank-you__form-result-name-field {
  /* Deducts half of the parent column gap */
  width: calc(50% - 5px);
}

@media (max-width: 410px) {
  .basic-details__form-field {
    width: 100%;
  }

  .basic-details__form-role-radio-options-wrapper {
    flex-wrap: wrap;
  }

  .basic-details__form-role-radio-options-wrapper .radio-option {
    width: 100%;
  }

  .thank-you__form-result-name-field {
    width: 100%;
  }
}
